#skills {
    background: var(--color-ui-1);
    padding: 80px 20px;
    text-align: center;
}

#skills .skills_container {
    max-width: 1200px;
    margin: auto;
    margin-top: -100px;
}

#skills .skills_grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#skills .skill_card {
    background: var(--color-ui-2);
    padding: 20px;
    border-radius: var(--border-radius-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
    box-shadow: 0 2px 4px var(--color-primary);
}

#skills .skill_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px var(--color-primary);
}

#skills .skill_card p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
}

@media (max-width: 900px) {
    #skills {
        padding: 60px 15px;
    }

    #skills .skills_container {
        margin-top: -50px;
    }

    #skills .skills_grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    #skills .skill_card {
        padding: 15px;
    }

    #skills .skill_card p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #skills {
        padding: 40px 10px;
    }

    #skills .skills_container {
        margin-top: -30px;
    }

    #skills .skills_grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }

    #skills .skill_card {
        padding: 10px;
    }

    #skills .skill_card p {
        font-size: 12px;
    }
}