#about {
    background: var(--color-ui-2);
}

#about .about_container {
    display: grid;
    grid-template-columns: 400px auto;
    gap: 40px;
}

#about .me_container.blur-effect::before {
    bottom: 0;
    left: 0;
    width: 150px;
    height: 145px;
    margin-left: -5%;
    margin-bottom: -5%;
}

#about .photo_container {
    overflow: hidden;
    max-height: 400px;
    border-radius: var(--border-radius-4);
    border: 2px solid var(--color-primary);
    transform: rotate(-7deg);
    transition: var(--transition);
}

#about .photo_container:hover {
    transform: rotate(0);
}

#about .section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .metrics_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#about .metric {
    text-align: center;
}

#about .metric h3 {
    font-size: 1.8em;
    color: var(--color-primary);
}

#about .metric p {
    color:  var(--color-muted);
}


#about .about_info_bottom{
    margin-top: 40px;
    margin-left: 180px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#about .about_btn {
    padding: 15px 25px;
    border-radius: var(--border-radius-5);
    color: var(--color-text);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background: var(--color-ui-1);
    text-align: center;
    cursor: pointer;
}

#about .about_btn:hover {
    background: var(--color-ui-2);
}

@media (max-width: 850px) {
    #about .about_container {
        grid-template-columns: 100%;
    }

    #about .me_container {
        display: none;
    }

    /*
    #about .btn {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 400px; 
    }
    */

    

    #about .metrics_container {
        flex-direction: column;
        gap: 20px;
    }
}
