#home{
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}

#home.blur-effect::before{
    top: 0;
    right: 0;
    margin-right: -5%;
    margin-top: -5%;
}

#home.blur-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #8750f7;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    margin-left: 5%;
    margin-bottom: 5%;
}

#home .header_container{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#home .intro_text{
    font-size: 200px;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
}

#home .column{
    position: relative;
    z-index: 1;
}

#home .intro_container{
    width: 550px;
}

#home .intro_container.blur-effect::before{
    bottom: 0;
    top: 0;
    width: 100px;
    height: 100px;
    margin-left: -5%;
    margin-bottom: -5%;
}

#home .profile_wrapper{
    flex: 1;
}

#home .header_info_top{
    font-size: 25px;
    font-weight: 500;
}

#home .header_title{
    font-size: 52px;
    font-weight: 500;
}

#home .header_description{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
}

#home .header_info_bottom{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

#home .profile_photo_container{
    width: 400px;
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    top: -80px
}

#home .profile_photo_container::after{
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent,var(--color-ui-1));
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: -250px;
}

.social-icons a {
    color: var(--color-muted);
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--color-primary);
}

@media (max-width: 100px) {
    #home .header_title{
        font-size: 32px;
    }
}

@media (max-width: 850px) {
    #home {
        min-height: auto;
    }
    #home.blur-effect::before {
        display: none;
    }

    #home .header_container {
        flex-direction: column;
        align-items: stretch;
    }

    #home .intro_text {
        font-size: 100px;
    }

    #home .intro_container {
        width: 100%;
    }

    .header_title,
    .header_info_top,
    .header_description {
        justify-content: center;
        gap: 20px;
    }
    .header_info_bottom .btn{
        width: 45%;
        padding: 15px;
    }
    .social-icons {
        justify-content: center;
        margin-left: 0;
    }
}