.card {
    padding: 0;
    border-radius: var(--border-radius-3);
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    transition: background 200ms, border 200ms;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    animation: zoomIn 400ms;
}

@keyframes zoomIn {
    0% {
        scale: 0.7;
    }
    100% {
        scale: 1;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.14);
    }
    .card:hover span {
        transition: var(--transition);
        transform: translateY(4px);
    }
}

.card span {
    display: inline-block;
    transition: transform 200ms; 
}

.card .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card .picture {
    height: 250px;
    overflow: hidden;
}

.card .card_details {
    flex: 1;
    text-align: left;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card .card_details .card_details_top {
    border: none;
}

.card .card_details .card_details_middle {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card .card_details .card_details_middle .tech_stack {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.card .card_details .card_details_middle .tech_button {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    font-size: 0.8rem;
}

.card .card_details .card_details_middle .description {
    font-size: 14px;
    margin-top: 1rem;
}

.card .card_details .card_details_bottom {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.card .card_details .card_details_bottom .project_links {
    display: flex;
    gap: 1rem;
}

.card .card_details .card_details_bottom .project_links a {
    color: var(--color-text);
    transition: color 200ms;
}

.card .card_details .card_details_bottom .project_links a:hover {
    color: var(--color-primary);
}
